<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- SEO -->
{% include "seo.njk" %}

<!-- favicons -->
{% if env.dev %}
<link rel="shortcut icon" href="/favicon.svg" />
{% else %}
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/images/favicon-180x180.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/images/favicon-32x32.png' | url }}"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/images/favicon-16x16.png' | url }}"
  sizes="16x16"
/>
<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | url }}" />
<link rel="manifest" href="{{ '/assets/manifest.json' | url }}" />
<meta name="theme-color" content="#000" />
{% endif %}

<!-- rss feed -->
<link
  type="application/atom+xml"
  rel="alternate"
  href="{{ site.url }}/rss.xml"
  title="{{ site.title }}"
/>

<!-- indie auth & microsub -->
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
<link rel="microsub" href="https://aperture.p3k.io/microsub/562" />

<!--  webmentions -->
<link rel="dns-prefetch" href="https://webmention.io" />
<link rel="preconnect" href="https://webmention.io" />
<link
  rel="webmention"
  href="https://webmention.io/mahmoudashraf.dev/webmention"
/>
<link rel="pingback" href="https://webmention.io/mahmoudashraf.dev/xmlrpc" />
