header {
  align-items: center;
  display: flex;
  margin-bottom: rfs(3rem);
}

.nav ul {
  display: flex;
  justify-self: end;
  list-style: none;
  margin-left: auto;
  padding: 0;

  & li:not(:last-child) {
    margin-right: rfs(1rem);
  }

  & li a {
    padding-bottom: rfs(0.4rem);
  }

  & .nav__active {
    border-bottom: 4px solid var(--text-color);
  }
}
