.hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  & a {
    text-decoration: underline;
  }

  & .hero__pretitle {
    text-transform: uppercase;
  }

  & .hero__description {
    line-height: 1.7;
  }
}

.section-title {
  margin-top: rfs(8rem);
}

.latest {
  display: grid;
  grid-gap: rfs(1rem);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: rfs(2rem) 0;

  & article {
    border: 1px solid var(--bg-color-offset);
    padding: rfs(0.3rem);

    & img {
      filter: brightness(0.8) contrast(1.1);
      height: 200px;
      object-fit: cover;
    }

    & h2 {
      margin: rfs(0.6rem) 0;
    }

    & a {
      color: var(--primary-color);
      font-weight: 700;
    }
  }
}

.works {
  display: grid;
  grid-gap: rfs(1rem);
  grid-template-columns: repeat(3, 1fr);
  margin: rfs(2rem) 0;
  text-align: center;

  & img {
    border-radius: 9999px;
    width: rfs(8rem);
  }
}
