.footer {
  display: flex;
}

ul.social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  & li:not(:first-child) {
    margin-left: rfs(1.4rem);
  }

  & li a {
    align-items: center;
    display: flex;

    margin-bottom: rfs(1rem);

    & span {
      margin-left: rfs(0.4rem);
    }
  }

  & li a:hover svg {
    fill: var(--primary-color);
  }

  & li a:hover {
    color: var(--primary-color);
  }

  & svg {
    fill: var(--text-color);
    width: rfs(1.7rem);
  }
}
