---
title: About Mahmoud Ashraf
description: All about Mahmoud Ashraf
---

```js exec
import SEO from '../components/SEO.svelte'
```

<SEO title="About | Mahmoud Ashraf" description="All about Mahmoud Ashraf"/>

# Hey! I'm Mahmoud 👋

I’m a Software Engineer. I was born in 1997 and grew up in a beautiful blue city called Alexandria 🌊. 
living with my parents and sister 👨‍👩‍👧‍👦
I've got a bachelor's degree in computer science from Alexandria, University 👨‍🎓.

### How I met coding?

At middle school, my Social Studies teacher (yes non-tech teacher 🤷) asked me to join him on Site called 
[ThinkQuest](https://en.wikipedia.org/wiki/Oracle_Thinkquest)
, and from that point, I had started my baby-steps 🐣 into programming, and the story of love has begun ❤️.


**I've written code for** 
[lynks](https://lynks.com), 
[tarteel.io](https://tarteel.io/), 
[worcbox](https://worcbox.com/en), and
[bookr.co](https://bookr.co/)
using React ⚛️.

**I'm now available for a full-time job** 👷‍♂️ 
if you are interested in working together send an email to [hello@mahmoudashraf.dev](mailto:hello@mahmoudashraf.dev).

### Tech stack:

I usually work as a front end developer, but I'm also enjoying writing backend stuff.
- React, Gatsby, NextJS, Redux, React Apollo, React-Native
- Typescript
- css, Styled-Components
- Svelte, Sapper
- Node, TypeGraphql, TypeORM

> P.S. Here are a few pages on this site that aren't included in the normal site navigation, but might interest you:
> - [Uses](/uses) - links to all the stuff I use
