{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <div class="flex-1 w-full bg-dark px-4 py-6 md:py-10 zigzag">
    <div class="max-w-prose mx-auto">
      <div class="max-w-3xl mx-auto mb-10 text-center">
        <h2 class="font-heading text-3xl sm:text-4xl md:text-5xl font-bold text-primary">
          {{ page.title }}
        </h2>

        {% if page.introduction %}
          <p class="mt-4 text-base sm:text-lg text-secondary max-w-prose mx-auto">
            {{ page.introduction }}
          </p>
        {% endif %}
      </div>

      {% for block in page.body %}
        {% if block.block_type == "clients" or block.block_type == "contact_form" %}
          {% include_block block %}
        {% else %}
          <div class="prose prose-main">
            {% include_block block %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
