{% load wagtailimages_tags %}

<div class="bg-darker py-3 px-2">
  <div class="group flex overflow-hidden [--gap:2rem]">
    <div class="flex items-center [gap:var(--gap)] animate-marquee group-hover:[animation-play-state:paused]">
      {% with ""|center:2 as range %}
        {% for _ in range %}
          {% for client in clients %}
            <div class="flex shrink-0">
              <div class="filter grayscale brightness-125 contrast-60 opacity-90 transition-all duration-300 hover:grayscale-0 hover:brightness-100 hover:contrast-100 hover:opacity-100">
                {% picture client.logo format-{avif,webp,jpeg} height-36 class="w-full" %}
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      {% endwith %}
    </div>
  </div>
</div>
