{% load django_vite %}

<div class="my-8 sm:my-10 md:my-12 zigzag px-4 sm:px-6 lg:px-8 py-12 md:py-16 bg-dark">
  <div class="max-w-2xl my-12 mx-auto flex flex-col gap-8">
    <div class="flex flex-col items-center gap-4">
      <h3 class="font-heading font-bold text-2xl">
        Say hello 👋
      </h3>
      <p class="text-center text-sm text-secondary max-w-[36ch]">
        Not into meetings? Leave me a message below, and I’ll shoot you an email in no time!
      </p>
    </div>

    {% include "partials/contact_form.html" with form=form %}
  </div>
</div>
