{% load link_tags %}
{% load wagtailimages_tags wagtailroutablepage_tags wagtailcore_tags %}

<div class="zigzag px-4 sm:px-6 lg:px-8 py-12 md:py-16 bg-dark flex flex-col">
  <div class="max-w-7xl mx-auto w-full">
    <div class="flex items-center justify-between mb-8 md:mb-10">
      <h2 class="font-heading text-3xl md:text-4xl font-bold text-primary">
        {{ self.heading }}
      </h2>
      {% link href="/feed" size="md" variant="default" suffix_icon="arrow-right" %}
        See All
      {% endlink %}
    </div>

    <ul class="h-feed columns-1 md:columns-2 md:gap-2">
      {% for post in posts %}
        {% for block in post.body %}
          <li class="break-inside-avoid mb-2">
            <article class="h-entry mx-auto w-full shadow bg-gradient-to-b from-gradient-1 to-gradient-2 ps-[2px]">
              <div class="flex flex-col py-2 px-4 bg-darker gap-2">
                {% include "includes/feed_post_header.html" with post=post %}
                {% include_block block with layout="compact" %}
              </div>
            </article>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
