{% load wagtailcore_tags %}

<div class="flex {# Responsive Behaviour: Start with column, switch to row at breakpoint #}
            {% if self.responsive == 'xl' %}
              flex-row
            {% else %}
              flex-col {{ self.responsive }}:flex-row
            {% endif %}
            {# Gap Options #}
            {% if self.gap == 'gap-2' %}
              gap-2
            {% elif self.gap == 'gap-4' %}
              gap-4
            {% elif self.gap == 'gap-6' %}
              gap-6
            {% elif self.gap == 'gap-8' %}
              gap-8
            {% endif %}
            {# Horizontal Alignment #}
            {% if self.horizontal_align == 'start' %}
              justify-start
            {% elif self.horizontal_align == 'center' %}
              justify-center
            {% elif self.horizontal_align == 'end' %}
              justify-end
            {% elif self.horizontal_align == 'between' %}
              justify-between
            {% elif self.horizontal_align == 'around' %}
              justify-around
            {% elif self.horizontal_align == 'evenly' %}
              justify-evenly
            {% endif %}
            {# Vertical Alignment #}
            {% if self.vertical_align == 'start' %}
              items-start
            {% elif self.vertical_align == 'center' %}
              items-center
            {% elif self.vertical_align == 'end' %}
              items-end
            {% elif self.vertical_align == 'stretch' %}
              items-stretch
            {% endif %}
            {# Additional Classes #}
            {% if self.extra_class %}
              {{ self.extra_class }}
            {% endif %}">
  {% for block in self.content %}
    {% include_block block %}
  {% endfor %}
</div>
