{% load link_tags base_tags wagtailcore_tags %}

{% with heading_id=self.heading_text.source|striptags|slugify %}
  <div class="m-0! group relative text-{{ self.text_position|default:'left' }}">
    <{{ self.size|default:"h2" }}
    {% if self.use_anchor %}
      id="{{ heading_id }}"
    {% endif %}
    class="relative scroll-mt-24 font-heading font-bold tracking-tight text-primary {{ self.text_size|default:'' }} flex items-center gap-2"
    >
    {% if self.use_anchor %}
      <a href="#{{ heading_id }}"
         aria-label="Anchor link for this section"
         class="font-bold text-inherit no-underline transition-colors duration-300 ease-in-out group-hover:text-secondary!">
        {{ self.heading_text.source|strip_p_tags|richtext }}
      </a>
      <a href="#{{ heading_id }}"
         aria-label="Anchor icon link for this section"
         class="opacity-0 transform -translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out text-secondary! hover:text-accent! hover:scale-110">
        {% icon "paperclip" class="w-5 h-5" %}
      </a>
    {% else %}
      {{ self.heading_text.source|strip_p_tags|richtext }}
    {% endif %}
    </{{ self.size|default:"h2" }}>

    {% if self.subheading_text %}
      <div class="text-secondary text-base mt-1">
        {{ self.subheading_text|richtext }}
      </div>
    {% endif %}
  </div>
{% endwith %}
