{% load base_tags %}
{% resolve_classes "src.base.blocks.link" "link" value.props as wrapper_class %}
{% resolve_classes "src.base.blocks.link" "link_icon" value.props as icon_class %}
{% resolve_classes "src.base.blocks.link" "link_text" value.props as text_class %}

<a href="{{ value.url }}"
   class="{{ wrapper_class }} {{ value.wrapper_class }}"
   {% if value.get_aria_label %}
     aria-label="{{ value.get_aria_label }}"
   {% endif %}
   {% if value.props.variant == "nav_active" %}
     aria-current="page"
   {% endif %}>

  {% if value.icon %}
    {% get_icon value.icon as icon %}
    {% include icon with class=icon_class %}
  {% endif %}

  {% if value.text %}
    <span class="{{ text_class }} {{ value.wrapper_class }}">{{ value.text }}</span>
  {% endif %}

  {% if value.sr_text %}
    <span class="sr-only">{{ value.sr_text }}</span>
  {% endif %}
</a>
