{% load django_vite %}
{% load wagtailuserbar %}
{% load seo_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <link rel="dns-prefetch" href="//static.mahmoudashraf.dev">
    <link rel="preconnect" href="https://static.mahmoudashraf.dev" crossorigin>
    <meta charset="utf-8">
    <title>
      {% block title %}
        {% seo_full_title page %}
      {% endblock title %}
    </title>
    <meta name="description"
          content="{% block description %}
                     {% seo_meta_description page %}
                   {% endblock description %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="this,is,a,keywords">

    <link rel="icon"
          type="image/png"
          href="{% static "favicon-96x96.png" %}"
          sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static "favicon.svg" %}" />
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "apple-touch-icon.png" %}" />
    <meta name="apple-mobile-web-app-title" content="Mahmoud Ashraf" />
    <link rel="manifest" href="{% static "site.webmanifest" %}" />

    <link rel="canonical" href="{{ page.seo_canonical_url }}" />
    {% if next_url %}
      <link rel="next" href="{{ next_url }}" />
    {% endif %}
    {% if prev_url %}
      <link rel="prev" href="{{ prev_url }}" />
    {% endif %}

    {% vite_hmr_client %}
    {% vite_asset 'src/resources/js/app.ts' %}

    {% block head %}
    {% endblock head %}
  </head>

  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
        class="min-h-screen flex flex-col bg-darker text-primary max-w-6xl mx-auto">
    <a id="top"></a>
    {% wagtailuserbar %}

    {% include "includes/header.html" %}

    <main class="relative z-1 bg-darker grow flex flex-col">
      {% block content %}
      {% endblock content %}
    </main>

    {% include "includes/footer.html" %}
  </body>
</html>
