{% load base_tags partials django_vite wagtailuserbar static seo_tags %}

<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth no-js">
  <head>
    <link rel="dns-prefetch" href="//static.mahmoudashraf.dev">
    <link rel="preconnect" href="https://static.mahmoudashraf.dev" crossorigin>
    <link rel="preload"
          href="{% static 'fonts/outfit-v14-latin-700.woff2' %}"
          as="font"
          type="font/woff2"
          crossorigin>
    <link rel="preload"
          href="{% static 'fonts/figtree-v8-latin-regular.woff2' %}"
          as="font"
          type="font/woff2"
          crossorigin>
    <link rel="preload"
          href="{% static 'fonts/figtree-v8-latin-600.woff2' %}"
          as="font"
          type="font/woff2"
          crossorigin>
    <meta charset="utf-8">

    <title>
      {% block title %}
        {% seo_full_title page %}
      {% endblock title %}
    </title>

    <script nonce="{{ CSP_NONCE }}">
      document.documentElement.classList.remove('no-js');
    </script>
    <style nonce="{{ CSP_NONCE }}">
      [x-cloak] { display: none !important; }

      .no-js .js-only {
        display: none;
      }

     .js-only {
        visibility: visible;
      }
    </style>
    <meta name="description"
          content="{% block description %}
                     {% seo_meta_description page %}
                   {% endblock description %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="this,is,a,keywords">

    <link rel="icon"
          type="image/png"
          href="{% static "favicon-96x96.png" %}"
          sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static "favicon.svg" %}" />
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "apple-touch-icon.png" %}" />
    <meta name="apple-mobile-web-app-title" content="Mahmoud Ashraf" />
    <link rel="manifest" href="{% static "site.webmanifest" %}" />

    <link rel="canonical" href="{{ page.seo_canonical_url }}" />
    {% if next_url %}
      <link rel="next" href="{{ next_url }}" />
    {% endif %}
    {% if prev_url %}
      <link rel="prev" href="{{ prev_url }}" />
    {% endif %}

    {% block head %}
    {% endblock head %}

    {% vite_hmr_client %}
    {% vite_asset 'src/resources/js/app.ts' nonce=CSP_NONCE %}

  </head>

  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
        class="relative min-h-full flex flex-col bg-darker text-primary max-w-6xl mx-auto">
    <a id="top"></a>

    <div id="messages"
         hx-swap-oob="true"
         class="fixed bottom-20 right-4 sm:right-8 z-50 w-[calc(100%-2rem)] sm:w-96 max-w-full space-y-3 pointer-events-none sm:pointer-events-auto px-2 sm:px-0">
      <div class="relative space-y-3">
        {% for message in messages %}
          <div x-data="{ visible: false, timeout: null }"
            {# djlint:off #}
            x-init="$nextTick(() => {
                const i = {{ forloop.counter0 }};
                const delay = 150 * Math.sqrt(i);
                setTimeout(() => {
                  visible = true;
                  timeout = setTimeout(() => visible = false, 4000);
                }, delay);
              })"
            {# djlint:on #}
            @mouseenter="clearTimeout(timeout)"
            @mouseleave="timeout = setTimeout(() => visible = false, 4000)"
            x-show="visible"
            x-transition:enter="transition ease-out duration-500 transform"
            x-transition:enter-start="translate-x-4 opacity-0"
            x-transition:enter-end="translate-x-0 opacity-100"
            x-transition:leave="transition ease-in duration-300 transform"
            x-transition:leave-start="translate-x-0 opacity-100"
            x-transition:leave-end="translate-x-4 opacity-0"
            class="pointer-events-auto flex items-start justify-between gap-4 px-4 py-3 sm:px-5 sm:py-4 shadow-xl text-sm sm:text-base font-semibold border-l-4 bg-darker border border-dark {{ message.tags|message_color }}">
            <div class="flex-1 break-words">
              {{ message }}
            </div>

            <button @click="visible = false"
                    class="js-only shrink-0 cursor-pointer text-xl leading-none text-secondary hover:text-primary focus:outline-none focus-visible:ring">
              {% icon "x" class="w-4 h-4" %}
            </button>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if not request.htmx %}
      {% wagtailuserbar %}
    {% endif %}

    {% include "includes/header.html" %}

    <main class="grow flex flex-col h-full relative bg-darker z-1">
      {% block content %}
      {% endblock content %}
    </main>

    {% include "includes/footer.html" %}

  </body>
</html>
