{% extends "django_comments_xtd/base.html" %}
{% load base_tags i18n %}
{% load comments_xtd %}

{% block title %}
  {% trans "Comment removed" %}.
{% endblock title %}

{% block header %}
  <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock header %}

{% block content %}
  {% if request.htmx %}
    {% include "django_comments_xtd/comment_item.html" with
    comment=comment
    children=comment.children
    item=comment.content_object %}
  {% else %}
    <h4 class="text-center">
      {% trans "The comment has been removed." %}
    </h4>
    <p class="text-center">
      {% trans "Thank you for taking the time to improve the quality of discussion in our site." %}
    </p>
  {% endif %}
{% endblock content %}
