{% extends "django_comments_xtd/base.html" %}
{% load base_tags i18n %}
{% load comments_xtd %}

{% block title %}
  {% trans "Comment removed" %}.
{% endblock title %}

{% block header %}
  <a href="{{ comment.content_object.get_absolute_url }}"
     class="text-primary underline hover:text-primary-foreground transition">
    {{ comment.content_object }}
  </a>
{% endblock header %}

{% block content %}
  {% if request.htmx %}
    {% include "django_comments_xtd/comment_item.html" with
    comment=comment
    children=comment.children
    item=comment.content_object %}
  {% else %}
    <div class="flex-1 w-full bg-dark px-4 py-6 md:py-10 zigzag">
      <article class="max-w-3xl mx-auto">
        <header class="mb-8 text-center">
          <h1 class="text-3xl font-bold tracking-tight">
            {% trans "The comment has been removed." %}
          </h1>
        </header>

        <div class="space-y-4 text-center">
          <p class="text-base text-muted">
            {% trans "Thank you for taking the time to improve the quality of discussion on our site." %}
          </p>

          <p class="text-sm text-muted">
            {% trans "Go back to" %}:
            <a href="{{ comment.content_object.get_absolute_url }}"
               class="text-primary underline hover:text-primary-foreground transition">
              {{ comment.content_object }}
            </a>
          </p>
        </div>
      </article>
    </div>
  {% endif %}
{% endblock content %}
