{% extends "django_comments_xtd/base.html" %}
{% load base_tags i18n %}
{% load comments_xtd %}

{% block title %}
  {% trans "Comment flagged" %}.
{% endblock title %}

{% block content %}
  {% if request.htmx %}
    <div id="flagged-{{ comment.id }}"
         hx-swap-oob="true"
         class="inline-flex items-center gap-1 text-sm text-red-600"
         role="status">
      {% icon "flag" class="w-4 ht-4 text-red-500" title="Comment flagged" %}
      <span class="sr-only">
        {% trans "This comment has been flagged." %}
      </span>
    </div>

    <div id="flags-counter-{{ comment.id }}" hx-swap-oob="true">
      {% if perms.comments.can_moderate %}
        <span class="text-xs text-red-600 ml-1"
              title="{% blocktrans count counter=comment.flags.count %}
                       A user has flagged this comment as inappropriate.
                     {% plural %}
                       {{ counter }} users have flagged this comment as inappropriate.
                     {% endblocktrans %}">
          {{ comment.flags.count }}
        </span>
      {% endif %}
    </div>
  {% else %}
    <div class="flex-1 w-full bg-dark px-4 py-6 md:py-10 zigzag">
      <article class="max-w-3xl mx-auto">
        <header class="mb-8">
          <h1 class="text-3xl font-bold tracking-tight text-center">
            {% trans "The comment has been flagged." %}
          </h1>
        </header>

        <div class="space-y-4 text-center">
          <p class="text-base text-muted">
            {% trans "Thank you for taking the time to improve the quality of discussion on our site." %}
          </p>

          <p class="text-sm text-muted">
            {% trans "Go back to" %}:
            <a href="{{ comment.content_object.get_absolute_url }}"
               class="text-primary underline hover:text-primary-foreground transition">
              {{ comment.content_object }}
            </a>
          </p>
        </div>
      </article>
    </div>
  {% endif %}
{% endblock content %}
