{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <div class="w-full h-full bg-dark p-4 zigzag">
    <header class="max-w-2xl mx-auto mb-8">
      <h2 class="font-heading text-3xl md:text-4xl font-bold text-primary">
        {{ page.title|default:"Archive" }}
      </h2>
      {% if page.introduction %}
        <p class="mt-2 text-base text-secondary max-w-prose mx-auto">
          {{ page.introduction }}
        </p>
      {% endif %}
    </header>

    <ul class="h-feed flex flex-col gap-8">
      {% for post in posts %}
        <li>
          {% for block in post.body %}
            <article class="h-entry mx-auto max-w-2xl shadow bg-gradient-to-b from-gradient-1 to-gradient-2 ps-[2px]">
              <div class="flex flex-col py-2 px-4 bg-darker gap-2">
                {% include "includes/feed_post_header.html" with post=post %}
                {% include_block block with layout="preview" %}
              </div>
            </article>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>

    <div class="max-w-2xl mx-auto mt-8">
      {% include "includes/pagination.html" with page=posts %}
    </div>
  </div>
{% endblock content %}
