{% load base_tags button_tags field_tags partials %}

<form id="contact-form"
      method="post"
      action="{% url 'contact' %}"
      class="w-full flex flex-col gap-4"
      hx-post="{% url 'contact' %}"
      hx-target="#contact-form"
      hx-swap="outerHTML">

  <noscript>
    {% csrf_token %}
    <input type="hidden" name="page_id" value="{{ page.id }}">
    <input type="hidden" name="source_url_fragment" value="#contact-form">
  </noscript>

  <div class="grid md:grid-cols-2 gap-4">
    {% for field in form %}
      {% field field=field %}
      {% endfield %}
    {% endfor %}
  </div>

  {% button
    size="md"
    type="submit"
    class="w-fit"
    id="contact-submit-button"
    %}
    <span>Send Message</span>
    {% icon 'circle-notch' id="spinner" class="htmx-indicator animate-spin h-5 w-5" %}
  {% endbutton %}

  <div class="text-accent-bright pt-2 font-medium">
    {% if success_message %}
      {{ success_message }}
    {% endif %}
  </div>
</form>
