{% load field_tags %}

<form id="guestbook-form"
      method="post"
      action="{% url 'guestbook' %}"
      hx-post="{% url 'guestbook' %}"
      hx-target="#guestbook-form"
      hx-swap="outerHTML">
  <div class="space-y-4">
    <noscript>
      {% csrf_token %}
      <input type="hidden" name="page_id" value="{{ page.id }}">
      <input type="hidden" name="source_url_fragment" value="#guestbook-form">
    </noscript>

    <div class="grid grid-cols-3 gap-4 items-stretch">
      <div class="col-span-2">
        {% field
          field=form.name
          :value="form.name"
          @input="updateFormField"
          %}
        {% endfield %}
      </div>

      {% field
        field=form.emoji
        :value="form.emoji"
        @input="updateFormField"
        %}
      {% endfield %}
    </div>

    {% with selected=form.style.value %}
      {% field field=form.style as="radio" class="flex flex-row!" %}
        <div class="flex flex-row gap-4 flex-wrap">
          {% for key, label in form.fields.style.choices %}
            <label data-key="{{ key }}"
                   class="bg-dark flex items-center gap-2 p-2 border border-neutral-700 rounded cursor-pointer hover:border-accent transition-all"
                   :class="presetSelectorClass">
              <input type="radio"
                     name="style"
                     value="{{ key }}"
                     {% if selected == key %}
                       checked
                     {% endif %}
                     :checked="isTargetSelected"
                     @change="updateFormField"
                     class="accent-accent w-5 h-5 border border-neutral-700" />
              <span class="text-sm text-primary">{{ label }}</span>
            </label>
          {% endfor %}
        </div>
      {% endfield %}
    {% endwith %}

    {% field
      field=form.message
      :value="form.message"
      @input="updateFormField"
      %}
    {% endfield %}

    {% field
      field=form.url
      :value="form.url"
      @input="updateFormField"
      %}
    {% endfield %}

    <div class="max-w-xs">
      {% with selected=form.radius.value %}
        {% field field=form.radius @input="updateFormField" %}
          {% for key, label in form.fields.radius.choices %}
            <option data-name="radius"
                    value="{{ key }}"
                    {% if selected == key %}
                      selected
                    {% endif %}
                    :selected="isTargetSelected">
              {{ label }}
            </option>
          {% endfor %}
        {% endfield %}
      {% endwith %}
    </div>
  </div>
</form>
