@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/merriweather-sans-v11-latin-regular.eot');
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
    url('../assets/fonts/merriweather-sans-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/merriweather-sans-v11-latin-regular.woff2')
      format('woff2'),
    url('../assets/fonts/merriweather-sans-v11-latin-regular.woff')
      format('woff'),
    url('../assets/fonts/merriweather-sans-v11-latin-regular.ttf')
      format('truetype'),
    url('../assets/fonts/merriweather-sans-v11-latin-regular.svg#MerriweatherSans')
      format('svg');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/merriweather-sans-v11-latin-700.eot');
  src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
    url('../assets/fonts/merriweather-sans-v11-latin-700.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/merriweather-sans-v11-latin-700.woff2') format('woff2'),
    url('../assets/fonts/merriweather-sans-v11-latin-700.woff') format('woff'),
    url('../assets/fonts/merriweather-sans-v11-latin-700.ttf')
      format('truetype'),
    url('../assets/fonts/merriweather-sans-v11-latin-700.svg#MerriweatherSans')
      format('svg');
}

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/abril-fatface-v11-latin-regular.eot');
  src: local('Abril Fatface'), local('AbrilFatface-Regular'),
    url('../assets/fonts/abril-fatface-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/abril-fatface-v11-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/abril-fatface-v11-latin-regular.woff') format('woff'),
    url('../assets/fonts/abril-fatface-v11-latin-regular.ttf')
      format('truetype'),
    url('../assets/fonts/abril-fatface-v11-latin-regular.svg#AbrilFatface')
      format('svg');
}
