@import 'normalize.css';
/* purgecss start ignore */
/* purgecss end ignore */
@import './fonts.css';

body {
  --bg-color: #fff;
  --text-color: #000;
}

body.dark-theme {
  --bg-color: #000;
  --text-color: #efefef;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Merriweather Sans', sans-serif;
}
