/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts.css';

/* purgecss start ignore */
body {
  --bg-color: #fff;
  --text-color: #000;
}

body.dark-theme {
  --bg-color: #000;
  --text-color: #efefef;
}

body {
  @apply bg-gray-900;
  @apply text-gray-300;
  font-family: 'Merriweather Sans', sans-serif;
}

.content img {
  max-width: 100%;
  height: auto;
}
.content pre {
  overflow: auto;
  @apply bg-gray-800;
  @apply p-1 my-4;
  @apply shadow-xs;
}
.content a {
  @apply transition-all ease-in duration-200;
  @apply text-teal-200;
}
.content p {
  @apply mb-6;
  @apply leading-loose;
  @apply text-lg;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  @apply font-bold;
  @apply mt-8 mb-6;
}
.content h1 {
  @apply text-3xl;
}
.content h2 {
  @apply text-2xl;
}
.content h3 {
  @apply text-xl;
}
.content h4 {
  @apply text-lg;
}
.content p code {
  @apply bg-gray-700;
  @apply text-gray-400;
  @apply p-1;
  @apply rounded;
}
.content blockquote {
  @apply border-l-4 border-teal-200;
  @apply pl-5 my-6;
  @apply italic;
}
.content ul {
  @apply list-disc list-inside;
}
.content li {
  @apply mb-3;
}
/* purgecss end ignore */
