{% load allauth socialaccount base_tags i18n %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <div class="max-w-3xs">
    <div class="grid grid-cols-1 gap-3">
      {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
          {% for brand in provider.get_brands %}
            {% provider_login_url provider openid=brand.openid_url process=process as href %}
            <a href="{{ href }}"
               class="flex items-center justify-center gap-2 rounded-md px-5 py-2.5 bg-muted text-primary hover:bg-muted/80 font-medium transition">
              {% icon provider.id class="w-5 h-5" fallback=brand.name %}
              <span class="text-sm">{{ brand.name }}</span>
            </a>
          {% endfor %}
        {% else %}
          {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
          <a href="{{ href }}"
             class="flex items-center justify-center gap-2 rounded-md px-5 py-2.5 bg-primary text-black hover:bg-muted/80 font-medium transition">
            {% icon provider.id class="w-5 h-5" fallback=provider.name %}
            <span class="text-sm">{{ provider.name }}</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
