<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="preload" href="/styles/base/fonts.css" as="style" />
    <link rel="stylesheet" href="/styles/main.css" />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/assets/fonts/roboto-v20-latin-regular.woff2"
      crossorigin
    />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/assets/fonts/abril-fatface-v12-latin-regular.woff2"
      crossorigin
    />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
