/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'highlight.js/styles/dracula.css';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

body {
  @apply bg-gray-900;
  @apply text-gray-300;
}

pre {
  overflow: auto;
  @apply rounded-md;
  @apply bg-gray-800;
  @apply my-4 p-3;
  @apply shadow-xs;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/open-sans-v17-latin-regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('assets/fonts/open-sans-v17-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
    url('assets/fonts/open-sans-v17-latin-regular.woff') format('woff'),
    url('assets/fonts/open-sans-v17-latin-regular.ttf') format('truetype'),
    url('assets/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/open-sans-v17-latin-700.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('assets/fonts/open-sans-v17-latin-700.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/open-sans-v17-latin-700.woff2') format('woff2'),
    url('assets/fonts/open-sans-v17-latin-700.woff') format('woff'),
    url('assets/fonts/open-sans-v17-latin-700.ttf') format('truetype'),
    url('assets/fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('assets/fonts/abril-fatface-v11-latin-regular.eot');
  src: local('Abril Fatface'), local('AbrilFatface-Regular'),
    url('assets/fonts/abril-fatface-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/abril-fatface-v11-latin-regular.woff2') format('woff2'),
    url('assets/fonts/abril-fatface-v11-latin-regular.woff') format('woff'),
    url('assets/fonts/abril-fatface-v11-latin-regular.ttf') format('truetype'),
    url('assets/fonts/abril-fatface-v11-latin-regular.svg#AbrilFatface')
      format('svg');
}
