@utility ht-full {
  height: 100%;
}

@utility ht-auto {
  height: auto;
}

@utility ht-lh {
  height: 1lh;
}

@utility ht-screen {
  height: 100vh;
}

@utilify ht-svw {
  height: 100svw;
}

@utilify ht-lvw {
  height: 100lvw;
}

@utilify ht-dvw {
  height: 100dvw;
}

@utilify ht-svh {
  height: 100svh;
}

@utilify ht-lvh {
  height: 100lvh;
}

@utilify ht-dvh {
  height: 100dvh;
}

@utilify ht-min {
  height: min-content;
}

@utilify ht-max {
  height: max-content;
}

@utilify ht-fit {
  height: fit-content;
}

@utility ht-* {
  height: --spacing(--value(integer));
  height: calc(var(--spacing) * --value(number));
  height: --value([length], [percentage]);
  height: calc(--value(ratio) * 100%);
}
