{% extends "base.html" %}
{% load static allauth i18n %}
{% load base_tags field_tags button_tags %}

{% block title %}
  {% trans "Email Addresses | Mahmoud Ashraf" %}
{% endblock title %}

{% block content %}
  <div class="flex-1 w-full bg-dark px-4 py-8 sm:py-12 md:py-16 zigzag">
    <div class="max-w-xl mx-auto px-6 py-8 sm:px-8 sm:py-10 space-y-6 text-primary">
      <h2 class="text-2xl font-semibold">
        {% trans "Email Addresses" %}
      </h2>

      {% if emailaddresses %}
        <p class="text-primary/80">
          {% trans "The following email addresses are associated with your account:" %}
        </p>

        <div id="non-field-errors" hx-swap-oob="true">
          {% if form.non_field_errors %}
            <div class="bg-red-500/10 text-red-400 border border-red-500/30 p-4 rounded text-sm">
              {% for error in form.non_field_errors %}
                <p>
                  {{ error }}
                </p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div id="emails" hx-swap-oob="true" class="space-y-6">
          {% for radio in emailaddress_radios %}
            <form method="post"
                  id="email-{{ radio.id }}"
                  action="{% url 'account_email' %}"
                  hx-post="{% url 'account_email' %}"
                  hx-select="#email-{{ radio.id }}"
                  class="space-y-6">
              {% with emailaddress=radio.emailaddress %}
                {% csrf_token %}
                <input type="hidden"
                       name="email"
                       value="{{ emailaddress.email }}"
                       id="{{ radio.id }}" />

                <div class="flex flex-col gap-2 p-4 border border-neutral-700 bg-darker/30 rounded">
                  <div>
                    <p class="font-medium text-primary">
                      {{ emailaddress.email }}
                    </p>

                    <div class="text-sm space-x-1 mt-1 text-neutral-600 dark:text-neutral-400">
                      {% if emailaddress.verified %}
                        <span class="inline-block px-2 py-0.5 rounded text-sm font-medium bg-emerald-100 text-emerald-800 dark:bg-emerald-700 dark:text-white">
                          {% trans "Verified" %}
                        </span>
                      {% else %}
                        <span class="inline-block px-2 py-0.5 rounded text-sm font-medium bg-amber-100 text-amber-800 dark:bg-amber-600 dark:text-white">
                          {% trans "Unverified" %}
                        </span>
                      {% endif %}
                      {% if emailaddress.primary %}
                        <span class="inline-block px-2 py-0.5 rounded text-sm font-medium bg-sky-100 text-sky-800 dark:bg-sky-600 dark:text-white">
                          {% trans "Primary" %}
                        </span>
                      {% endif %}
                    </div>
                  </div>

                  <div class="flex gap-4 text-sm cursor-pointer">
                    {% if not emailaddress.primary and emailaddress.verified %}
                      <button type="submit"
                              name="action_primary"
                              class="cursor-pointer underline hover:text-primary/90">
                        {% trans "Make Primary" %}
                      </button>
                    {% endif %}
                    {% if not emailaddress.verified %}
                      <button type="submit"
                              name="action_send"
                              class="cursor-pointer underline hover:text-primary/90">
                        {% trans "Re-send Verification" %}
                      </button>
                    {% endif %}
                    {% if not emailaddress.primary %}
                      <button type="submit"
                              name="action_remove"
                              class="cursor-pointer underline hover:text-primary/90">
                        {% trans "Remove" %}
                      </button>
                    {% endif %}

                    {% icon 'circle-notch' id="spinner" class="htmx-indicator animate-spin h-5 w-5" %}
                  </div>
                </div>
              </form>
            {% endwith %}
          {% endfor %}
        </div>
      {% else %}
        {% include "account/snippets/warn_no_email.html" %}
      {% endif %}

      {% if can_add_email %}
        <h3 class="text-xl font-semibold pt-6">
          {% trans "Add Email Address" %}
        </h3>

        <form id="add-email-form"
              method="post"
              action="{% url 'account_email' %}"
              hx-post="{% url 'account_email' %}"
              hx-select="#add-email-form, #emails"
              class="space-y-4">

          {% csrf_token %}

          {{ form }}

          <div>
            {% button type="submit" name="action_add" variant="primary" %}
              {% trans "Add Email" %}
              {% icon 'circle-notch' id="spinner" class="htmx-indicator animate-spin h-5 w-5" %}
            {% endbutton %}
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock content %}
