{% extends "base.html" %}
{% load i18n allauth base_tags button_tags %}
{% load socialaccount %}

{% block title %}
  {% trans "Sign In | Mahmoud Ashraf" %}
{% endblock title %}

{% block content %}
  <section class="grow-1 w-full bg-dark px-4 py-10 sm:py-14 md:py-20 zigzag">
    <div class="bg-darker max-w-xl mx-auto bg-card px-6 py-8 sm:px-10 sm:py-12 text-primary grid gap-4">

      <header class="grid gap-2 text-center sm:text-left">
        <h2 class="text-3xl font-bold">
          {% trans "Sign In" %}
        </h2>

        {% if not SOCIALACCOUNT_ONLY %}
          <p class="text-secondary">
            {% blocktranslate %}
            If you have not created an account yet, then please
            <a href="{{ signup_url }}" class="text-accent underline hover:text-accent-bright">
              sign up
            </a> first.
          {% endblocktranslate %}
          </p>
        </header>
      {% endif %}

      {% if not SOCIALACCOUNT_ONLY %}
        <form id="login-form"
              method="post"
              action="{% url 'account_login' %}"
              hx-post="{% url 'account_login' %}"
              hx-select="#login-form"
              hx-swap="outerHTML"
              class="flex flex-col gap-5">
          {% csrf_token %}
          {{ redirect_field }}
          {{ form }}

          <div>
            {% button type="submit" variant="primary" %}
              {% trans "Sign In" %}
              {% icon 'circle-notch' id="spinner" class="htmx-indicator animate-spin h-5 w-5" %}
            {% endbutton %}
          </div>
        </form>
      {% endif %}

      <div>
        {% if SOCIALACCOUNT_ENABLED %}
          {% include "socialaccount/snippets/login.html" %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}
