{% extends "base.html" %}
{% load base_tags i18n allauth account button_tags %}

{% block title %}
  {% trans "Change Password | Mahmoud Ashraf" %}
{% endblock title %}

{% block content %}
  <section class="grow-1 w-full bg-dark px-4 py-10 sm:py-14 md:py-20 zigzag">
    <div class="bg-darker max-w-xl mx-auto bg-card px-6 py-8 sm:px-10 sm:py-12 text-primary grid gap-10">
      <header class="grid gap-2 text-center sm:text-left">
        <h2 class="text-3xl font-bold">
          {% trans "Change Password" %}
        </h2>
      </header>

      <form id="password-form"
            method="post"
            action="{% url 'account_change_password' %}"
            hx-post="{% url 'account_change_password' %}"
            hx-select="#password-form"
            hx-swap="outerHTML"
            class="flex flex-col gap-5">
        {% csrf_token %}
        {{ redirect_field }}

        {{ form }}

        <div class="flex items-center justify-between gap-6">
          {% button type="submit" variant="primary" %}
            {% trans "Change Password" %}
          {% endbutton %}

          <a href="{% url 'account_reset_password' %}"
             class="text-primary/70 underline hover:text-primary transition">
            {% trans "Forgot Password?" %}
          </a>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
