{% extends "base.html" %}
{% load i18n allauth account %}

{% block title %}
  {% trans "Password Reset | Mahmoud Ashraf" %}
{% endblock title %}

{% block content %}
  <div class="flex-1 w-full bg-dark px-4 py-8 sm:py-12 md:py-16 zigzag">
    <div class="max-w-xl mx-auto px-6 py-8 sm:px-8 sm:py-10 space-y-6 text-primary">
      <h2 class="text-2xl font-semibold">
        {% trans "Password Reset" %}
      </h2>

      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p id="messages" hx-swap-oob="beforeend">
        {% blocktrans %}
          We have sent you an email. If you have not received it, please check your spam folder.
          Otherwise, contact us if you do not receive it in a few minutes.
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock content %}
