{% extends "base.html" %}
{% load i18n %}
{% load button_tags link_tags %}

{% block title %}
  {% trans "Profile | Mahmoud Ashraf" %}
{% endblock title %}

{% block content %}
  <section class="grow-1 w-full bg-dark px-4 py-10 sm:py-14 md:py-20 zigzag">
    <div class="bg-darker max-w-xl mx-auto bg-card px-6 py-8 sm:px-10 sm:py-12 text-primary grid gap-8">
      <header class="grid gap-1">
        <h1 class="text-3xl font-bold">
          {% trans "Your Profile" %}
        </h1>
        <p class="text-secondary text-sm">
          {% trans "View your account details and update your settings." %}
        </p>
      </header>

      <dl class="grid gap-4 text-sm sm:text-base">
        <div class="grid gap-1 sm:grid-cols-2 sm:items-center">
          <dt class="font-medium">
            {% trans "Username" %}
          </dt>
          <dd class="sm:text-right text-muted break-words">
            {{ request.user.username }}
          </dd>
        </div>

        <div class="grid gap-1 sm:grid-cols-2 sm:items-center">
          <dt class="font-medium">
            {% trans "Email" %}
          </dt>
          <dd class="sm:text-right text-muted break-words">
            {{ request.user.email }}
          </dd>
        </div>

        <div class="grid gap-1 sm:grid-cols-2 sm:items-center">
          <dt class="font-medium">
            {% trans "Password" %}
          </dt>
          <dd class="sm:text-right">
            {% url 'account_change_password' as change_password_url %}
            {% link href=change_password_url class="text-accent hover:underline" %}
              {% trans "Change Password" %}
            {% endlink %}
          </dd>
        </div>
      </dl>
      <div class="pt-4 border-t border-muted text-right">
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% button type="submit" variant="secondary" %}
            {% trans "Log out" %}
          {% endbutton %}
        </form>
      </div>
    </div>
  </section>
{% endblock content %}
