:root {
  --font-family-display: "Lobster", cursive;

  --font-size-base: rfs(1rem);

  --h1-font-size: rfs(2.5rem);
  --h2-font-size: rfs(2rem);
  --h3-font-size: rfs(1.75rem);
  --h4-font-size: rfs(1.5rem);
  --h5-font-size: rfs(1.25rem);
  --h6-font-size: rfs(1rem);
}
