{% extends "base.html" %}
{% load i18n allauth base_tags button_tags %}

{% block title %}
  {% trans "Account Connections | Mahmoud Ashraf" %}
{% endblock title %}

{% block content %}
  <section class="grow-1 w-full bg-dark px-4 py-10 sm:py-14 md:py-20 zigzag">
    <div class="bg-darker max-w-xl mx-auto bg-card px-6 py-8 sm:px-10 sm:py-12 text-primary grid gap-10">
      <div class="flex flex-col gap-3">
        <header class="grid gap-2 text-center sm:text-left">
          <h2 class="text-3xl font-bold">
            {% trans "Account Connections" %}
          </h2>

          <div class="text-secondary text-sm" id="subtitle" hx-swap-oob="true">
            {% if form.accounts %}
              <p class="text-primary/80">
                {% blocktrans %}You can sign in to your account using any of the following third-party accounts:{% endblocktrans %}
              </p>
            {% else %}

              <p class="text-primary/80">
                {% trans "You currently have no third-party accounts connected to this account." %}
              </p>
            {% endif %}
          </div>
        </header>

        {% if form.accounts %}
          <div id="non-field-errors" hx-swap-oob="true">
            {% if form.non_field_errors %}
              <div class="bg-red-500/10 text-red-400 border border-red-500/30 p-4 rounded text-sm">
                {% for error in form.non_field_errors %}
                  <p>
                    {{ error }}
                  </p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div id="accounts" class="space-y-6">
            {% for acc in form.fields.account.choices %}
              {% with account=acc.0.instance.get_provider_account %}
                <form method="post"
                      id="provider-{{ account.account.id }}"
                      action="{% url 'socialaccount_connections' %}"
                      hx-post="{% url 'socialaccount_connections' %}"
                      hx-select="#provider-{{ account.account.id }}"
                      class="space-y-4">
                  {% csrf_token %}
                  <input type="hidden" name="account" value="{{ account.account.pk }}" />

                  <div class="flex flex-col gap-2 p-4 border border-neutral-700 bg-darker/30 rounded">
                    <div>
                      <p class="font-medium text-primary">
                        {{ account }}
                      </p>

                      <div class="text-sm space-x-1 mt-1 text-neutral-600 dark:text-neutral-400">
                        <span class="inline-block px-2 py-0.5 rounded text-sm font-medium bg-slate-100 text-slate-800 dark:bg-slate-700 dark:text-white">
                          {{ account.get_brand.name }}
                        </span>
                      </div>
                    </div>

                    <div class="flex gap-4 text-sm cursor-pointer">
                      <button type="submit"
                              name="action"
                              class="cursor-pointer underline hover:text-primary/90">
                        {% trans "Remove" %}
                      </button>

                      {% icon 'circle-notch' class="htmx-indicator animate-spin h-5 w-5" %}
                    </div>
                  </div>
                </form>
              {% endwith %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="flex flex-col gap-3">
        <h3 class="text-xl font-semibold">
          {% trans "Add a Third-Party Account" %}
        </h3>
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
      </div>
    </div>
  </section>
{% endblock content %}
