{% load base_tags %}
{% load social_tags %}

<nav aria-label="Social media links">
  <ul class="flex flex-wrap gap-3 sm:gap-4 items-center justify-start sm:justify-end">
    {% for link in value %}
      <li>
        {% if link.block_type == "site" %}
          {% get_social_data link.value.platform as social %}
          {% include "includes/link.html" with link=social %}
        {% else %}
          {% include "includes/link.html" with link=link.value %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
