{% load i18n %}

{% with available=settings.base.SiteSettings.avilable_for_projects %}
  <p class="font-semibold flex justify-center items-center gap-1 text-xs xs:text-sm sm:text-base absolute top-1 xs:top-2 sm:top-6 -left-1 xs:-left-2 sm:-left-3 bg-primary text-dark px-2 py-1.5 rounded-md shadow-sm border-b-3 border-[#B6B0B0]">
    <span class="{% if available %}
                   bg-green-600 border-green-100/40
                 {% else %}
                   bg-red-600 border-red-100/40
                 {% endif %}
                 border-3 motion-safe:animate-pulse w-3 h-3 xs:w-4 xs:h-4 rounded-full"></span>
    <span>
      {% if available %}
        {% trans "Available for projects" %}
      {% else %}
        {% trans "Offline" %}
      {% endif %}
    </span>
  </p>
{% endwith %}
