<input type="{{ widget.type }}"
       name="{{ widget.name }}"
       class="w-full bg-neutral-800 px-3 py-2 text-primary shadow-md border border-neutral-700 placeholder:text-secondary transition-colors focus:outline-none focus:border-accent focus:ring-1 focus:ring-accent/50 aria-invalid:border-red-500 aria-invalid:text-red-500 aria-invalid:placeholder:text-red-500/70 aria-invalid:focus:border-red-500 aria-invalid:focus:ring-red-500/50 {{ widget.attrs.class }}"
       {% include "django/forms/widgets/attrs.html" %}>

{% if widget.is_initial %}
  <div class="mt-2 flex flex-col gap-1 text-sm text-secondary">
    <div>
      {{ widget.initial_text }}:
      <a href="{{ widget.value.url }}"
         class="text-accent underline hover:text-accent-bright transition">
        {{ widget.value.name|default:widget.value }}
      </a>
    </div>

    {% if not widget.required %}
      <div class="flex items-center gap-2">
        <input type="checkbox"
               name="{{ widget.checkbox_name }}"
               id="{{ widget.checkbox_id }}"
               class="accent-accent focus:ring-accent/50 rounded border-neutral-700 bg-neutral-800 text-accent shadow-sm"
               {% if widget.attrs.disabled %}
                 disabled
               {% endif %}
               {% if widget.attrs.checked %}
                 checked
               {% endif %}>
        <label for="{{ widget.checkbox_id }}">
          {{ widget.clear_checkbox_label }}
        </label>
      </div>
    {% endif %}
  </div>
{% endif %}
