{% if widget.wrap_label %}
  <label {% if widget.attrs.id %}
           for="{{ widget.attrs.id }}"
         {% endif %}
         class="w-full px-3 py-2 text-primary shadow-md placeholder:text-secondary focus:outline-none focus:border-accent focus:ring-1 focus:ring-accent/50 aria-invalid:border-red-500 aria-invalid:text-red-500 aria-invalid:placeholder:text-red-500/70 aria-invalid:focus:border-red-500 aria-invalid:focus:ring-red-500/50 bg-dark flex items-center gap-2 p-2 border border-neutral-700 rounded cursor-pointer hover:border-accent transition-all has-checked:ring-1 has-checked:ring-accent {{ widget.attrs.class }}">
  {% endif %}
  <input type="{{ widget.type }}"
         name="{{ widget.name }}"
         {% if widget.value != None %}
           value="{{ widget.value|stringformat:'s' }}"
         {% endif %}
         class="accent-accent w-5 h-5 border border-neutral-700 peer {{ widget.attrs.class }}"
         {% include "django/forms/widgets/attrs.html" %}>
  {% if widget.wrap_label %}
    {{ widget.label }}
  </label>
{% endif %}
