<div class="grid grid-cols-1">
  <select class="col-start-1 row-start-1 w-full appearance-none bg-neutral-800 px-3 py-2 text-primary shadow-md border border-neutral-700 placeholder:text-secondary transition-colors focus:outline-none focus:border-accent focus:ring-1 focus:ring-accent/50 aria-invalid:border-red-500 aria-invalid:text-red-500 aria-invalid:placeholder:text-red-500/70 aria-invalid:focus:border-red-500 aria-invalid:focus:ring-red-500/50 {{ widget.attrs.class }}"
          name="{{ widget.name }}"
          {% include "django/forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}
      {% if group_name %}
        <optgroup label="{{ group_name }}">
        {% endif %}
        {% for option in group_choices %}
          {% include option.template_name with widget=option %}
        {% endfor %}
        {% if group_name %}
        </optgroup>
      {% endif %}
    {% endfor %}
  </select>

  <svg viewBox="0 0 16 16"
       fill="currentColor"
       data-slot="icon"
       aria-hidden="true"
       class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-secondary sm:size-4">
    <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
  </svg>
</div>
