extends layout.pug

block content
	for blog in blogs 
		article(class="my-6")
			header
				h3(class="text-2xl font-bold text-teal-300")
					a(rel='prefetch' href=`/blog/${blog.slug}`)=blog.title
				small=new Date(blog.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric'  })
				div(class="my-2 md:my-1")
					p(class="text-base")=blog.description
