@tailwind base;
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/abril-fatface-v11-latin-regular.eot');
  src: local('Abril Fatface'), local('AbrilFatface-Regular'),
    url('./fonts/abril-fatface-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/abril-fatface-v11-latin-regular.woff2') format('woff2'),
    url('./fonts/abril-fatface-v11-latin-regular.woff') format('woff'),
    url('./fonts/abril-fatface-v11-latin-regular.ttf') format('truetype'),
    url('./fonts/abril-fatface-v11-latin-regular.svg#AbrilFatface')
      format('svg');
}
@tailwind components;
@tailwind utilities;
