<div hidden>
  <a href="$base_url$/$path$" class="u-url">$title-prefix$</a>

  <!-- <a -->
  <!--   href="https://news.indieweb.org/en" -->
  <!--   class="u-category" -->
  <!--   hidden -->
  <!-- > -->
  <!--   #indienews -->
  <!-- </a> -->

  <div class="h-card p-author">
    <a href="$base_url$/" class="p-name u-url" rel="author">Mahmoud Ashraf</a>
    <img loading="lazy" class="u-photo" src="$base_url$/images/avatar.webp" />
    <p class="p-note">
      Mahmoud Ashraf is a Front-end developer intersted in Linux/privacy
    </p>
  </div>
</div>
