<style>
  .card {
    background-color: var(--c5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
  }

  .card img {
    width: 40%;
    height: auto;
    object-fit: cover;
    margin: 0;
  }

  .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }

  .card-content h2 {
    margin: 0 0 10px;
  }

  .card-content p {
    color: var(--c4);
    font-size: 14px;
    margin: 0;
  }

  .card-content .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .status-indicator {
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .status-active .status-indicator {
    background-color: var(--status-active);
  }

  .status-wanted .status-indicator {
    background-color: var(--status-wanted);
  }

  .status-completed .status-indicator {
    background-color: var(--status-completed);
  }
</style>
