$body$

<div class="blogs">
  <div class="section-header">
    <h3>Recent Blogs</h3>
    <a href="/blog/"> <span>See All Blogs</span> → </a>
  </div>
  $for(blog)$
  <div class="blog">
    <a href="$blog.url$/">
      <div class="blog-title">$blog.title-prefix$</div>
      <div class="blog-date">$blog.formatted_date$</div>
    </a>
  </div>
  $endfor$
</div>

<div class="thoughts">
  <div class="section-header">
    <h3>Recent Thoughts</h3>
    <a href="/thoughts/"> <span>See All Thoughts</span> → </a>
  </div>
  <ul>
    $for(thoughts)$
    <li class="thought">
      <a href="$thoughts.url$/">
        <div class="thought-date">$thoughts.formatted_date$</div>
      </a>

      <div class="thought-content">
        $if(thoughts.like-to)$
        <div>
          <span>╰ like: ♡</span>
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="u-like-of"
            href="$thouguts.like-to$"
            >$thoughts.like-to$</a
          >
        </div>
        $endif$

        <!-- -->

        $if(thoughts.reply-to)$
        <div>
          <span>╰ reply: ↺</span>
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="u-reply-of"
            href="$thoughts.reply-to$"
            >$thoughts.reply-to$</a
          >
        </div>
        $endif$

        <!-- -->

        $if(thoughts.interaction-to-content)$
        <blockquote>$thoughts.interaction-to-content$</blockquote>
        $endif$

        <!-- -->$thoughts.content$<!-- -->
      </div>
    </li>
    $endfor$
  </ul>
</div>

<div>
  <div class="section-header">
    <h3>Recent Games</h3>
    <a href="/games/"> <span>See All Games</span> → </a>
  </div>

  <div class="games">
    $for(playing)$
    <div class="game game-playing">
      <img loading="lazy" src="$playing.url$/cover-small.webp" />
      <a href="$playing.url$/"></a>
      <div class="game-info">
        <span class="game-title">$playing.title-prefix$</span>
        <div class="footer">
          <span class="game-state">
            <img loading="lazy" src="/play.svg" />
            <span>Playing</span>
          </span>
          <span class="game-date">
            <img loading="lazy" src="/cal.svg" />
            <span>$playing.formatted_date$</span>
          </span>
        </div>
      </div>
    </div>
    $endfor$

    <!-- -->

    $for(completed)$
    <div class="game game-completed">
      <img loading="lazy" src="$completed.url$/cover-small.webp" />
      <a href="$completed.url$/"></a>
      <div class="game-info">
        <span class="game-title">$completed.title-prefix$</span>
        <div class="footer">
          <span class="game-state">
            <img loading="lazy" src="/check.svg" />
            <span>completed</span>
          </span>
          <span class="game-date">
            <img loading="lazy" src="/cal.svg" />
            <span>$completed.formatted_date$</span>
          </span>
        </div>
      </div>
    </div>
    $endfor$
  </div>
</div>

<div>
  <div class="section-header">
    <h3>Recent Leetcode</h3>
    <a href="/leetcode/"> <span>See All leetcodes</span> → </a>
  </div>

  <ul>
    $for(leetcode)$
    <li>
      $leetcode.formatted_date$:
      <a href="$leetcode.url$/">$leetcode.title-prefix$</a>
    </li>
    $endfor$
  </ul>
</div>
