<div class="h-entry">
  <a class="u-bridgy-fed" href="https://fed.brid.gy/" hidden></a>

  <h1 class="p-name">$title-prefix$</h1>
  <time class="dt-published" datetime="$date$">$formatted_date$</time>
  · <a href="/tags/$category$">[[<span class="p-category">$category$</span>]]</a> ·
  <a href="#webmentions">
    Comments $if(in-reply-to)$ ($in-reply-to/length$) $endif$
  </a>

  <div class="e-content" style="margin-top: 1.5rem">
    $if(featured-image.photo)$
    <img
      loading="lazy"
      hidden
      class="u-featured"
      src="$featured-image.photo.original$"
    />
    $endif$

    <!-- -->$body$<!-- -->
  </div>

  ${webmentions.html()}

  <!-- -->

  ${author.html()}
</div>
