<div class="thoughts">
  <h1>Thoughts</h1>
  <ul>
    $for(thoughts)$
    <li class="thought">
      <a href="$thoughts.url$">
        <div class="thought-date">$thoughts.formatted_date$</div>
      </a>
      <div class="thought-content">
        $if(thoughts.like-to)$ ╰ like: ♡
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="u-like-of"
          href="$thouguts.like-to$"
          >$thoughts.like-to$</a
        >
        <blockquote>$thoughts.like-to-content$</blockquote>
        $endif$

        <!-- -->$thoughts.content$<!-- -->
      </div>
    </li>
    $endfor$
  </ul>

  <div class="navigation">
    $if(has-prev)$
    <a href="$prev-url$"> ← Prev </a>
    $endif$

    <!-- -->

    $if(has-next)$
    <a href="$next-url$">Next →</a>
    $endif$
  </div>
</div>
