<div class="thoughts">
  <h1>Thoughts</h1>
  <p>
    <em
      >Subscribe via
      <a href="https://maw.sh/rss-thoughts.xml"> RSS (thoughts) </a>
    </em>
  </p>
  <ul>
    $for(thoughts)$
    <li class="thought">
      <a href="$thoughts.url$">
        <div class="thought-date">$thoughts.formatted_date$</div>
      </a>
      <div class="thought-content">
        $if(thoughts.like-to)$
        <div>
          <span>╰ like: ♡</span>
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="u-like-of"
            href="$thoughts.like-to$"
            >$thoughts.like-to$</a
          >
        </div>
        $endif$

        <!-- -->

        $if(thoughts.reply-to)$
        <div>
          <span>╰ reply: ↺</span>
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="u-reply-of"
            href="$thoughts.reply-to$"
            >$thoughts.reply-to$</a
          >
        </div>
        $endif$

        <!-- -->

        $if(thoughts.interaction-to-content)$
        <blockquote>$thoughts.interaction-to-content$</blockquote>
        $endif$

        <!-- -->$thoughts.content$<!-- -->
      </div>
    </li>
    $endfor$
  </ul>

  <div class="navigation">
    $if(has-prev)$
    <a href="$prev-url$"> ← Prev </a>
    $endif$

    <!-- -->

    $if(has-next)$
    <a href="$next-url$">Next →</a>
    $endif$
  </div>
</div>
