<article class="h-entry">
  <header>
    <time class="dt-published" datetime="$datetime$">$formatted_date$</time>
  </header>

  <a class="u-bridgy-fed" href="https://fed.brid.gy/" hidden></a>

  $if(like-to)$
  <div>
    <span>╰ like: ♡</span>
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="u-like-of"
      href="$like-to$"
      >$like-to$</a
    >
  </div>
  $endif$

  <!-- -->

  $if(reply-to)$
  <div>
    <span>╰ reply: ↺</span>
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="u-in-reply-to"
      href="$reply-to$"
      >$reply-to$</a
    >
  </div>
  $endif$

  <!-- -->

  $if(interaction-to-content)$
  <blockquote>$interaction-to-content$</blockquote>
  $endif$

  <section class="e-content">
    $if(featured-image.photo)$
    <img
      loading="lazy"
      hidden
      class="u-featured"
      src="$featured-image.photo.original$"
    />
    $endif$

    <!-- -->

    $if(featured-video)$
    <video controls hidden>
      <source src="$featured-video$" />
    </video>
    $endif$

    <!-- -->$body$<!-- -->

    <p>
      tagged in: $for(keywords)$<a href="/tags/$keywords$/">#$keywords$</a
      >$sep$, $endfor$
    </p>
  </section>

  <footer>
    <span hidden class="p-category">thought</span>
    ${webmentions.html()} ${author.html()}
    <a hidden href="https://brid.gy/publish/mastodon"></a>
  </footer>
</article>
