<div class="webmentions-wrapper">
  <h2 id="webmentions">Webmentions</h2>

  $if(like-of)$
  <div class="webmentions-bookmarks">
    <h3>likes <span>($like-of/length$)</span></h3>
    <ul>
      $for(like-of)$
      <li class="bookmark-item h-entry">
        <a href="$like-of.author.url$" class="bookmark-link u-like-of">
          <img
            loading="lazy"
            alt="$like-of.author.name$'s photo"
            width="$like-of.author.photo.width$"
            height="$like-of.author.photo.height$"
            src="$like-of.author.photo.thumb$"
            class="bookmark-author-photo"
          />
        </a>
      </li>
      $endfor$
    </ul>
  </div>
  $endif$

  <!-- -->

  $if(repost-of)$
  <div class="webmentions-bookmarks">
    <h3>Reposts <span>($repost-of/length$)</span></h3>
    <ul>
      $for(repost-of)$
      <li class="bookmark-item h-entry">
        <a href="$repost-of.author.url$" class="bookmark-link u-repost-of">
          <img
            loading="lazy"
            alt="$repost-of.author.name$'s photo"
            width="$repost-of.author.photo.width$"
            height="$repost-of.author.photo.height$"
            src="$repost-of.author.photo.thumb$"
            class="bookmark-author-photo"
          />
        </a>
      </li>
      $endfor$
    </ul>
  </div>
  $endif$

  <!-- -->

  $if(bookmark-of)$
  <div class="webmentions-bookmarks">
    <h3>Bookmarks <span>($bookmark-of/length$)</span></h3>
    <ul>
      $for(bookmark-of)$
      <li class="bookmark-item h-entry">
        <a href="$bookmark-of.author.url$" class="bookmark-link u-bookmark-of">
          <img
            loading="lazy"
            alt="$bookmark-of.author.name$'s photo"
            width="$bookmark-of.author.photo.width$"
            height="$bookmark-of.author.photo.height$"
            src="$bookmark-of.author.photo.thumb$"
            class="bookmark-author-photo"
          />
        </a>
      </li>
      $endfor$
    </ul>
  </div>
  $endif$

  <!-- -->

  <div class="webmentions-comments">
    <h3>
      Comments $if(in-reply-to)$<span>($in-reply-to/length$)</span>$endif$
    </h3>
    $if(in-reply-to)$
    <ul>
      $for(in-reply-to)$
      <li class="comment-item p-comment h-entry">
        <img
          loading="lazy"
          alt="$in-reply-to.author.name$'s photo"
          width="$in-reply-to.author.photo.width$"
          height="$in-reply-to.author.photo.height$"
          src="$in-reply-to.author.photo.thumb$"
          class="comment-author-photo"
        />
        <div class="comment-content">
          <div class="comment-header">
            <strong>
              <a
                class="comment-author-name p-name u-url"
                href="$in-reply-to.author.url$"
              >
                $in-reply-to.author.name$</a
              >
            </strong>
            <time
              class="comment-published-at dt-published"
              datetime="$in-reply-to.published$"
            >
              <a href="$in-reply-to.url$" class="comment-source-url">
                $in-reply-to.published$
              </a>
            </time>
          </div>
          <div class="comment-text e-content">$in-reply-to.content.html$</div>
        </div>
      </li>
      $endfor$
    </ul>

    $else$
    <p class="no-comments">No Comments yet!</p>
    $endif$
  </div>
</div>

<script>
  document.addEventListener(
    "DOMContentLoaded",
    function () {
      function getRandomColor() {
        const hue = Math.floor(Math.random() * 360);
        const saturation = Math.floor(Math.random() * 50) + 50;
        const lightness = 80;

        return `hsla($${hue}, $${saturation}%, $${lightness}%, 0.4)`;
      }

      document
        .querySelectorAll(".bookmark-item img")
        .forEach((x) => x.style.setProperty("--hover-color", getRandomColor()));
    },
    false,
  );
</script>
