{% load link_tags base_tags %}

<nav aria-label="Breadcrumb">
  <ul class="flex flex-wrap text-secondary items-center space-x-1 sm:space-x-2">
    <li class="flex items-center after:mx-1 after:text-primary/50 after:content-['/'] last:after:content-none">
      {% link href=slugurl 'home' variant="breadcrumb" %}
        Home
      {% endlink %}
    </li>

    <li class="flex items-center after:mx-1 after:text-primary/50 after:content-['/'] last:after:content-none">
      {% link href="/feed/" variant="breadcrumb" %}
        Feed
      {% endlink %}
    </li>

    {% for p in page.get_ancestors %}
      {% if not p.is_root and p.slug != "home" %}
        <li class="flex items-center after:mx-1 after:text-primary/50 after:content-['/'] last:after:content-none">
          {% link href=p.url variant="breadcrumb" %}
            {{ p.title }}
          {% endlink %}
        </li>
      {% endif %}
    {% endfor %}

    <li class="h-breadcrumb p-name text-primary font-medium truncate max-w-[10rem] sm:max-w-none">
      {{ page.title }}
    </li>
  </ul>
</nav>
