{% load base_tags %}

<{{ wrapper_tag }} {{ wrapper_attrs|safe }} class="{{ wrapper_class }}">
{% if variant == "primary" %}
  <span class="pointer-events-none absolute inset-0 translate-x-2 translate-y-2 bg-gradient-1 transition-transform duration-300 group-hover:translate-x-0 group-hover:translate-y-0 z-10"></span>
  <span class="pointer-events-none absolute inset-0 bg-accent transition-colors duration-300 group-hover:bg-[#e5ff53] z-20"></span>
{% endif %}

<span class="relative z-30 flex items-center gap-2 {{ text_class }}">
  {% if icon %}
    {% icon icon class=icon_class %}
  {% endif %}

  {% if prefix_icon %}
    {% icon prefix_icon class=icon_class %}
  {% endif %}

  {{ content|safe }}

  {% if suffix_icon %}
    {% icon suffix_icon class=icon_class %}
  {% endif %}
</span>
</{{ wrapper_tag }}>
