<div class="flex-1 flex flex-col gap-1.5">
  {% if label_text %}
    <label for="{{ name }}" class="{{ label_class }}">
      {{ label_text }}
    </label>
  {% endif %}

  {% if tag_type == "textarea" %}
    <textarea {{ field_attrs }}>{{ value }}</textarea>
  {% else %}
    <input {{ field_attrs }}>
  {% endif %}

  <p id="{{ error_id }}"
     class="text-sm text-red-400 mt-1
            {% if not error_message %}
              sr-only
            {% endif %}"
     role="alert">
    {{ error_message|default:"" }}
  </p>
</div>
