{% load button_tags %}

<div class="[&_a]:w-fit w-full flex justify-between items-start flex-wrap gap-4">
  <div class="flex flex-col gap-2">
    {% with prev_url|yesno:"outline,disabled" as variant %}
      {% button prefix_icon="caret-left" variant=variant size="md" href=prev_url %}
        Previous
      {% endbutton %}
    {% endwith %}

    {% if prev_url and prev_title %}
      <span class="text-sm text-secondary sm:text-base font-medium text-foreground truncate">
        {{ prev_title|truncatewords:5 }}
      </span>
    {% endif %}
  </div>

  {% if page.number and page.paginator.num_pages %}
    <div class="self-center flex-grow flex justify-center px-6">
      <span class="text-sm text-secondary font-medium">
        Page {{ page.number }} of {{ page.paginator.num_pages }}
      </span>
    </div>
  {% endif %}

  <div class="flex flex-col gap-2 items-end [&>a>span]:flex-row-reverse">
    {% with next_url|yesno:"outline,disabled" as variant %}
      {% button suffix_icon="caret-right" variant=variant size="md" href=next_url %}
        Next
      {% endbutton %}
    {% endwith %}

    {% if next_url and next_title %}
      <span class="text-sm text-secondary sm:text-base font-medium text-foreground truncate">
        {{ next_title|truncatewords:5 }}
      </span>
    {% endif %}
  </div>
</div>
