{% extends "base.html" %}
{% load button_tags base_tags wagtailcore_tags %}

{% block head %}
  <link rel="dns-prefetch" href="//giphy.com">
  <link rel="dns-prefetch" href="//tenor.com">
  <link rel="dns-prefetch" href="//imgur.com">
{% endblock head %}

{% block content %}
  <div class="flex-1 zigzag w-full bg-dark px-4 py-6 md:py-12">
    <header class="mx-auto text-center max-w-3xl mb-12">
      <h1 class="font-heading text-3xl sm:text-4xl md:text-5xl font-bold text-primary leading-tight">
        {{ page.title|default:"Archive" }}
      </h1>

      {% if page.intro %}
        <div class="mt-4 text-secondary leading-relaxed max-w-prose mx-auto">
          {{ page.intro|richtext }}
        </div>
      {% endif %}
    </header>

    <section class="mx-auto space-y-10">
      <ul class="columns-1 sm:columns-2 lg:columns-3 gap-6 px-2 sm:px-0">
        <li class="ht-50 break-inside-avoid mb-6 p-6 flex flex-col justify-center items-center shadow-xl border border-neutral-700 bg-neutral-900 text-center hover:scale-[1.01] transition duration-150 ease-in-out">
          <div class="text-3xl mb-2">
            📝
          </div>
          <p class="text-xl font-semibold mb-4 text-primary">
            Want to leave a message?
          </p>

          {% button href=page.get_first_child.specific.url variant="outline" size="md" class="w-fit" %}
            ✍️ Write in the Guestbook
          {% endbutton %}
        </li>

        {% for entry in entries %}
          <li class="prose break-inside-avoid mb-6 p-6 flex flex-col shadow-xl border
                     {% if entry.pinned %}
                       border-yellow-500
                     {% else %}
                       border-neutral-700
                     {% endif %}
                     transition hover:scale-[1.01] duration-150 ease-in-out {{ entry.get_style_classes }} {{ entry.radius }}">
            <div class="text-3xl">
              {{ entry.emoji|default:"✨" }}
            </div>

            <div class="flex-1 mt-3 break-words">
              {{ entry.message_html|safe }}
            </div>

            <div class="self-end mt-3 text-sm text-right space-y-1">
              {% if entry.url %}
                <a href="{{ entry.url }}"
                   class="inline-flex items-center gap-1 underline"
                   target="_blank"
                   rel="noopener noreferrer">
                  — {{ entry.name }}
                  {% icon 'arrow-squar-out' class="w-4 ht-4" %}
                </a>
              {% else %}
                <p>
                  — {{ entry.name }}
                </p>
              {% endif %}

              {% if entry.created_at %}
                <p class="text-xs">
                  {{ entry.created_at|timesince }}
                </p>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>

    </section>
  </div>
{% endblock content %}
