{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block head %}
  <script type="text/javascript">
    window.__APP_DATA__ = {
      isNewGuestbookPage: true
    }
  </script>
{% endblock head %}

{% block content %}
  <div class="flex-1 w-full bg-dark px-4 py-6 md:py-10 zigzag">
    <header class="max-w-3xl mx-auto mb-10 text-center">
      <h2 class="font-heading text-3xl sm:text-4xl md:text-5xl font-bold text-primary">
        Add Guestbook Entry
      </h2>
    </header>

    {% for block in page.body %}
      {% include_block block %}
    {% endfor %}
  </div>
{% endblock content %}
