---
title: 'Home'
layout: 'base.njk'
eleventyNavigation:
  key: Home
  order: 1
---

<div class="hero">
  <p class="hero__pretitle text-xl">Hey 👋, My name is Mahmoud Ashraf.</p>
  <h1 class="hero__title display-1">I Make websites.</h1>
  <p class="hero__description text-xl">
    I'm Working 👨‍🏭 as Front-End developer, Writing ✍
    <a href="/blog"> articles </a>, sharing 📎 my
    <a href="/thoughts"> thoughts </a>, and build 🪚
    <a href="{{ site.author.social.github }}"> stuff </a> on the internet.
  </p>

  {% include "social.njk" %}
</div>
