---
title: 'Mahmoud Ashraf'
layout: 'base.njk'
---

<header>
  <nav class="nav">
    <ul>
      <li>
        <a href="#"> Home </a>
      </li>
      <li>
        <a href="#"> About </a>
      </li>
      <li>
        <a href="#"> Blog </a>
      </li>
      <li>
        <a href="#"> Thoughts </a>
      </li>
      <li>
        <a href="#"> Projects </a>
      </li>
      <li>
        <a href="#"> Contact</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="hero">
    <p class="text-xl name">HEY 👋, MY NAME IS MAHMOUD ASHRAF.</p>
    {% Image "src/me.jpg", "Me talking a selfi" %}
    <h2>A Software Engineer Who Builds stuff on the internet.</h2>
  </div>

  <div class="latest">
    <p class="text-xl">LATEST BLOG POSTS.</p>
    {%- for post in collections.latestPosts -%}
    <div>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <time datetime="{{ post.data.date }}" class="text-sm">
        {{ post.data.date | date }}
      </time>
      <p>{{ post.data.description }}</p>
    </div>
    {%- endfor -%}
    <a href="/posts" class="seemore"> See all posts → </a>
  </div>

  <div class="social">
    <p class="text-xl">FIND ME</p>
    {%- for account in social -%}
    <a href="{{ account.href }}">
      {{ account.icon | safe }}
      {{ account.name }}
    </a>
    {%- endfor -%}
  </div>
</main>
