{% load wagtailimages_tags wagtailroutablepage_tags wagtailcore_tags %}

{% block content %}
  <div class="w-full flex flex-col">
    {% if self.summary and not is_feed %}
      <div class="p-summary sr-only">
        {{ self.summary }}
      </div>
    {% endif %}

    <div class="w-full e-content prose mx-auto px-4">
      {% for block in self.body %}
        {% if block.block_type == 'image' %}
          {% with block.value as img %}
            {% image img original as original %}
            <a href="{{ original.full_url }}">
              {% if ".gif" in original.file.url|lower|slice:"-4:" %}
                {% picture img format-{webp,gif} width-768 class="mx-auto u-photo" %}
              {% else %}
                {% picture img format-{avif,webp,jpeg} width-768 class="mx-auto u-photo" %}
              {% endif %}
            </a>
          {% endwith %}
        {% else %}
          {{ block }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
