{% load wagtailimages_tags wagtailroutablepage_tags wagtailcore_tags %}

{% block content %}

  <div class="flex flex-col">
    {% if self.summary %}
      <div class="p-summary sr-only">
        {{ self.summary }}
      </div>
    {% endif %}

    <div class="e-content prose prose-main prose-sm sm:prose-base lg:prose-lg max-w-none">
      {% for block in self.body %}
        {% if block.block_type == 'image' %}
          <a href="{% image_url block.value "original" %}">
            {% picture block.value format-{avif,webp,jpeg} width-768 class="mx-auto u-photo" %}
          </a>
        {% elif block.block_type == 'ordered_list' %}
          <ol>
            {% for item in block.value %}
              <li>
                {{ item.content }}
              </li>
            {% endfor %}
          </ol>
        {% else %}
          {{ block }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
