{% load wagtailcore_tags base_tags %}

<div class="prose
            {% if layout == 'compact' %}
              text-sm
            {% else %}
              text-base
            {% endif %}">
  <div class="flex items-center break-all
              {% if layout != 'compact' %}
                text-sm sm:text-base
              {% else %}
                text-sm
              {% endif %}">
    {% icon "bookmark-simple" class="inline-block ht-5 w-5 shrink-0 text-bookmark mr-2" %}
    <span>
      Bookmarked
      <a class="u-bookmark-of h-cite text-accent underline-offset-2 hover:underline"
         href="{{ self.bookmark_of }}">
        <span class="p-name">
          {{ self.title|default:self.bookmark_of }}
        </span>
      </a>
    </span>
  </div>

  {% if layout != "compact" and self.description %}
    <div class="prose max-w-none mt-2">
      <blockquote>
        {{ self.description }}
      </blockquote>
    </div>
  {% endif %}

  {% if layout != "compact" and self.notes %}
    <div class="e-content prose max-w-none mt-4">
      {{ self.notes|richtext }}
    </div>
  {% endif %}
</div>
