{% load wagtailcore_tags base_tags %}

<div class="prose prose-main">
  <div class="flex items-center text-sm sm:text-base">
    {% icon "heart" class="inline-block h-5 w-5 shrink-0 fill-like mr-2" %}
    <div class="p-summary">
      Liked
      <a class="u-like-of h-cite font-semibold text-accent underline-offset-2 hover:underline"
         href="{{ self.like_of }}">
        <span class="p-name">
          {{ self.title|default:self.like_of }}
        </span>
      </a>
    </div>
  </div>

  {% if layout != 'compact' and self.description %}
    <blockquote class="e-content mt-2 border-l-2 pl-4 text-sm text-secondary">
      <p>
        {{ self.description }}
      </p>
    </blockquote>
  {% endif %}
</div>
