{% load wagtailcore_tags base_tags %}

{% block content %}
  <div class="prose prose-main flex flex-col prose-sm sm:prose-base">
    <blockquote class="p-summary flex flex-col">
      <div class="flex flex-wrap items-center gap-x-2">
        {% get_icon "heart" as icon %}
        {% include icon with class="w-5 h-5 fill-red-600" %}
        Liked <a class="u-like-of" href="{{ self.like_of }}">
        {% if self.title %}
          {{ self.title }}
        {% else %}
          {{ self.like_of }}
        {% endif %}
      </a>
    </div>
    {% if self.description %}
      <p>
        {{ self.description }}
      </p>
    {% endif %}
  </blockquote>

  <div class="e-content max-w-none">
    {{ self.content | richtext }}
  </div>
</div>

{% endblock content %}
