{% load wagtailcore_tags base_tags %}

<div class="prose prose-main
            {% if layout == 'compact' %}
              text-sm
            {% else %}
              text-base
            {% endif %}">
  <div class="flex items-center break-all
              {% if layout != 'compact' %}
                text-sm sm:text-base
              {% else %}
                text-sm
              {% endif %}">
    {% icon "chat-circle-dots" class="inline-block ht-5 w-5 shrink-0 text-repost mr-2" %}
    <span>
      Reposted
      <a class="u-repost-of h-cite text-accent underline-offset-2 hover:underline"
         href="{{ self.repost_of }}">
        <span class="p-name">
          {{ self.title|default:self.repost_of }}
        </span>
      </a>
    </span>
  </div>

  {% if layout != "compact" and self.description %}
    <div class="prose prose-main prose-sm max-w-none sm:prose-base mt-2">
      <blockquote>
        {{ self.description }}
      </blockquote>
    </div>
  {% endif %}

</div>
