{% load wagtailcore_tags base_tags %}

{% block content %}
  <div class="prose prose-main flex flex-col prose-sm sm:prose-base">
    <blockquote class="p-summary flex flex-col">
      <div class="flex flex-wrap items-center gap-x-2">
        {% get_icon "share-fat" as icon %}
        {% include icon with class="w-5 h-5 fill-primary" %}
        Reposted <a class="u-repost-of" href="{{ self.repost_of }}">
        {% if self.title %}
          {{ self.title }}
        {% else %}
          {{ self.repost_of }}
        {% endif %}
      </a>
    </div>

    {% if self.description %}
      <p>
        {{ self.description }}
      </p>
    {% endif %}

  </blockquote>
</div>

{% endblock content %}
