{% load wagtailcore_tags base_tags %}

<div class="flex flex-col gap-4">
  <div class="p-name prose prose-main flex max-w-none items-center gap-x-2 text-base">
    {% icon "share-fat" class="h-5 w-5 shrink-0 fill-repost" %}
    <span>
      Reposted
      <a class="u-repost-of h-cite text-accent underline-offset-2 hover:underline"
         href="{{ self.repost_of }}">
        <span class="p-name">
          {{ self.title|default:self.repost_of }}
        </span>
      </a>
    </span>
  </div>

  {% if layout != 'compact' and self.description %}
    <div class="prose prose-main prose-sm max-w-none sm:prose-base">
      <blockquote>
        {{ self.description }}
      </blockquote>
    </div>
  {% endif %}
</div>
