<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    <div class="container">
      {% include "header.njk" %}
      <main>
        {{ content | safe }}
      </main>
    </div>

    {% if env.dev %}
    <script type="module" src="/js/app.js" async defer></script>
    {% endif %}
  </body>
</html>
