<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    <div class="container">
      <header>
       {% set navPages = collections.all | eleventyNavigation %}
        <nav class="nav">
          <ul>
            {%- for entry in navPages %}
              <li{% if entry.url == page.url %} class="nav__active"{% endif %}>
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
        </nav>
      </header>
      <main>
        {{ content | safe }}
      </main>
    </div>

    {% if env.dev %}
    <script type="module" src="/js/app.js" async defer></script>
    {% endif %}
  </body>
</html>
