---
layout: 'markdown.njk'
---

<article class="h-entry thought">
  <header>
    <div>
      <time class="dt-published" datetime="{{ date | iso }}">
        {{ date | date }}
      </time>
    </div>
  </header>
  <div class="e-content" itemprop="articleBody">
    {{ content | safe }}
  </div>

  <div hidden>
    <a class="u-url" href="{{ page.url | url | absoluteUrl(site.url) }}">{{
      title
    }}</a>
    <p class="h-card p-author">
      <a class="p-name u-url" rel="author" href="{{ site.url }}">{{
        author.name
      }}</a>
      <img
        class="u-photo"
        src="{{ site.logo | url | absoluteUrl(site.url) }}"
      />
    </p>
  </div>
</article>
