@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lobster Regular"), local("Lobster-Regular"),
    url("/assets/fonts/lobster-v22-latin-regular.woff2") format("woff2"),
    url("/assets/fonts/lobster-v22-latin-regular.woff") format("woff");
}
