body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

h1,
.display-1,
h2,
.display-2,
h3,
.display-3,
h4,
.display-4,
h5,
.display-5,
h6,
.display-6 {
  font-family: var(--font-family-display);
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  margin-bottom: rfs(0.5rem);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

.display-1 {
  font-size: var(--display-1-font-size);
}

.display-2 {
  font-size: var(--display-2-font-size);
}
.display-3 {
  font-size: var(--display-3-font-size);
}

.display-4 {
  font-size: var(--display-4-font-size);
}

.display-5 {
  font-size: var(--display-5-font-size);
}

.display-6 {
  font-size: var(--display-6-font-size);
}
